@page "/"

<h1>Blazor Wasm Sample</h1>
<hr/>
<div class="menu">
<div class="menuitems">
<ul>
<li><a class="bluetext" href="canvas" style="font-size:24pt;">Canvas - Javascript Interop</a></li>
<li><a class="bluetext" href="weather" style="font-size:24pt;">Weather - C#&lArr;&rArr;Javascript相互運用</a></li>
</ul>
</div>
</div>
