@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4" style="justify-content:center;align-items:center">
        <h1>Blazor WASM Version</h1>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
